@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* overall div*/
.overall{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* nav-bar */
nav{
     width: 100%;
     min-height:vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: rgba(110, 127, 16, 0.874);
    position: fixed;
     /* position:absolute; */
     overflow: hidden;
    left:50%;
    top:0px;
    color:white;
    transform: translateX(-50%);
    padding: 10px 30px;
    z-index: 999;
}
/* nav-hen-image */
.nav-hen-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-hen-image img{
    width:90px;
    height:90px;
}
/* nav-location */
.nav-location{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
}
.nav-location i{
    font-size: 28px;
}
.navaddress p:first-child{
   font-size: 23px;
   padding-bottom: 7px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}
/* nav-content */
.nav-content{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    font-size: 19px;
    transition: all 1s;
}
/* nav-content */
.nav-content a{
    text-decoration: none;
    color:white;
    padding: 5px;
    position: relative;
    transition: all 0s 0.2s;
}
.nav-content a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all 1s;
}
.nav-content a:hover::before{
    background-image: linear-gradient(to right, rgb(63, 55, 2)20%, rgb(3, 61, 10) 100%);
}
.nav-content a:hover {
    color: rgb(224, 159, 39);
     font-size: 18px;
     /* font-weight: bold; */
}
/* nav-icons */
.nav-icons{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-icons{
    font-size:29px;
}
.nav-icons img{
    width:36px;
    height:36px;
    margin-top:10px;
}
nav i {
    font-size: 25px;
}
input:checked~.nav-content{
    left:0%;
    background-color: rgb(6, 113, 137);
}
input {
    display: none;
}
nav label {
    display: none;
}
/* nav-bar-media query */
@media only screen and (min-width:300px) and (max-width:700px){
   .nav-location{
      display:none;
   } 
   nav{
    width:100%;
   }
   nav label {
    display: block;
   }
    .nav-content {
        position: fixed;
         /* position:absolute; */
        background-color:transparent;
        left: 100%;
        top: 88px;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        justify-content: start;
        padding-top: 40px;
        transition: all 1s;
   }
   .nav-hen-image img{
    width:70px;
    height:70px;
    }
}
@media only screen and (min-width:300px) and (max-width:400px){
   nav{
    justify-content:space-between;
    padding:10px;
   }
   .nav-hen-image{
    font-size:8px;
    gap:10px;
   }
   .nav-hen-image img{
    width:50px;
    height:50px;
    }
    .nav-icons{
    font-size:17px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
}
@media only screen and (min-width:700px) and (max-width:800px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:8px;
    gap:10px;
   }
    .nav-icons{
    font-size:17px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 18px;
}
.navaddress p:first-child{
   font-size: 14px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 12px;
}
.nav-content{
    gap:6px;
    font-size: 13px;
}
.nav-icons{
    font-size:20px;
}
}
@media only screen and (min-width:800px) and (max-width:1000px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:9px;
    gap:10px;
   }
    .nav-icons{
    font-size:18px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 19px;
}
.navaddress p:first-child{
   font-size: 16px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 14px;
}
.nav-content{
    gap:6px;
    font-size: 15px;
}
.nav-icons{
    font-size:22px;
}
}
@media only screen and (min-width:1000px) and (max-width:1100px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:11px;
    gap:10px;
   }
    .nav-icons{
    font-size:19px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 20px;
}
.navaddress p:first-child{
   font-size: 18px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}
.nav-content{
    gap:6px;
    font-size: 17px;
}
.nav-icons{
    font-size:22px;
}
}
@media only screen and (min-width:1100px) and (max-width:1260px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:12px;
    gap:15px;
   }
    .nav-icons{
    font-size:19px;
    gap:15px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 20px;
}
.navaddress p:first-child{
   font-size: 18px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}
.nav-content{
    gap:6px;
    font-size: 18px;
}
.nav-icons{
    font-size:22px;
}
}
/* meat-payment-method */
.meat-payment{
    width:100%;
    min-height:130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
     /* background-image: linear-gradient(to right, rgb(195, 186, 244) 10%, rgb(156, 239, 244) 20%,rgb(244, 239, 244) 70%,rgb(128, 51, 128) 130%); */
}
.meat-content{
    width:75%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:30px;
    margin-top: 100px;
}
.meat-card{
    width:50%;
    height:480px;
    border-radius: 25px;
    background-color: rgba(230, 224, 224,0.6);
    padding:40px 10px;   
    display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   gap:30px;
}
.meat-content button{
   width:40%;
   padding:20px;
   font-size:28px;
   border:none;
   margin-top:20px;
   background-color: rgba(175, 168, 45,0.8);
   color:white;
   border-radius:10px;
   font-weight: bold;
}
.meat-cardpay{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.meat-text p{
    transform: rotate(-90deg);
     font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
}
.meat-pay p{
    font-size: 24px;
}
.meat-circle{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border:3px solid rgb(73, 228, 73);
    display: grid;
    justify-content: center;
    align-items: center;
}
.circle-meat{
    width:30px;
    height:30px;
    background-color: rgb(73, 228, 73);
    border-radius: 50%;
}
.meat-pay{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    gap:30px;
}
.payment-image{
    width:70%;
    padding-right:30px;
    padding-top:30px;
    display: flex;
    align-items: start;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:60px;
}
.payment-image img{
    width:90px;
    height:50px;
}
.pay-line{
    width:98%;
    height:3px;
    background-color: rgb(172, 170, 170);
    margin-top:20px;
}
.pay-cash{
    width: 80%;
    display:flex;
    justify-content: start;
    align-items: start;
}
.pay-cash{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:30px;
    flex-direction: row;
}
.pay-cash p{
    font-size: 24px;
}
.pay-circle1{
     width: 38px;
    height:38px;
    border-radius: 50%;
    border:3px solid rgb(73, 228, 73);
}
/* meat-payment-media query */
@media only screen and (min-width:300px) and (max-width:400px){
    .meat-content{
    width:100%;
padding:20px;}
    .meat-card{
    width:100%;}
    .meat-content button{
   width:80%;
   font-size:20px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   }
   .pay-cash p{
    font-size: 17px;
}
.meat-pay p{
    font-size: 19px;
}
.meat-circle{
    width: 35px;
    height:35px;
}
.circle-meat{
    width:25px;
    height:25px;
}
.payment-image img{
    width:50px;
    height:50px;
}
.payment-image{
    width:80%;}
    .pay-cash{
    gap:10px;
}
.meat-pay{
    gap:10px;
    padding:0px;
}
}
@media only screen and (min-width:400px) and (max-width:500px){
    .meat-content{
    width:100%;
padding:20px;}
    .meat-card{
    width:100%;}
    .meat-content button{
   width:80%;
   font-size:20px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   }
   .pay-cash p{
    font-size: 17px;
}
.meat-pay p{
    font-size: 19px;
}
.meat-circle{
    width: 35px;
    height:35px;
}
.circle-meat{
    width:25px;
    height:25px;
}
.payment-image img{
    width:70px;
    height:50px;
}
.payment-image{
    width:80%;}
    .pay-cash{
    gap:10px;
}
.meat-pay{
    gap:10px;
    padding:0px;
}
}
@media only screen and (min-width:500px) and (max-width:600px){
    .meat-content{
    width:100%;
padding:20px;}
    .meat-card{
    width:90%;}
    .meat-content button{
   width:80%;
   font-size:20px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   } 
.payment-image img{
    width:90px;
    height:50px;
}
.payment-image{
    width:80%;}
    .pay-cash{
    gap:20px;
}
.meat-pay{
    gap:20px;
}
}
@media only screen and (min-width:600px) and (max-width:700px){
    .meat-content{
    width:100%;
padding:20px;}
    .meat-card{
    width:75%;}
    .meat-content button{
   width:70%;
   font-size:28px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   }
.payment-image img{
    width:90px;
    height:50px;
}
.payment-image{
    width:70%;}
    .pay-cash{
    gap:20px;
}
.meat-pay{
    gap:20px;
}
}
@media only screen and (min-width:700px) and (max-width:900px){
    .meat-card{
    width:80%;}
    .meat-content button{
   width:70%;
   font-size:28px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   }
.payment-image img{
    width:90px;
    height:50px;
}
.payment-image{
    width:70%;}
    .pay-cash{
    gap:20px;
}
.meat-pay{
    gap:20px;
}
}
@media only screen and (min-width:800px) and (max-width:900px){
.payment-image img{
    width:100px;
    height:50px;
}
}
@media only screen and (min-width:900px) and (max-width:1000px){
    .meat-card{
    width:70%;}
    .meat-content button{
   width:70%;
   font-size:28px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   }
.payment-image img{
    width:90px;
    height:50px;
}
.payment-image{
    width:60%;}
    .pay-cash{
    gap:20px;
}
.meat-pay{
    gap:20px;
}
}
@media only screen and (min-width:1000px) and (max-width:1100px){
    .meat-card{
    width:60%;}
    .meat-content button{
   width:60%;
   font-size:28px;}
   .pay-circle1{
     width: 30px;
    height:30px;
   }
.payment-image img{
    width:90px;
    height:50px;
}
.payment-image{
    width:70%;}
    .pay-cash{
    gap:20px;
}
.meat-pay{
    gap:20px;
}
}
/* footer */
.footer{
    width:100%;
    min-height:75vh;
    background-color:#5d6d81 ;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* footer-content */
.footer-content{
    width:90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-image{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.footer-image img{
    width:150px;
    height:150px;
}
.footer-image h1{
    font-size:50px;
    color:white;
    text-align: center;
}
/* footer-menu */
.footer-menu {
   display: flex;
   gap:25px;
   flex-direction: column;
   width:150px;
    justify-content: center;
    align-items: center;
}
.footer-menu ul{
    list-style-type: none;
    color:white;
    font-size:19px;
}
.footer-menu li{
    padding-top:10px;
}
/* footer-information */
.footer-information{
    display: flex;
   gap:18px;
   justify-content: flex-start;
   flex-direction: column;
   width:350px;
    /* align-items: center; */
}
.footer-information p{
    color:white;
    font-size:23px;
    display:flex;
    justify-content: start;
    align-items: center;
    gap:10px;
}
.footer-follow{
   display: flex;
   gap:20px;
   flex-direction: column;
}
.footer-icon{
    display: flex;
   gap:20px;
   align-items: center;
   flex-direction:row;
}
.footer-icon i{
    color:white;
    font-size:32px;
}
/* footer-media query */
@media only screen and (min-width:300px) and (max-width:700px){
  .footer{
    width:100%;
    padding:20px 10px;
     min-height:80vh;
  }
  .footer-image{
    width:100%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:110px;
}
.footer-menu p{
  font-size:17px;
}
.footer-menu h2{
  font-size:18px;
}
.footer-information{
  width:80%;
}
}
@media only screen and (min-width:300px) and (max-width:400px){
 .footer-information p{
    font-size:17px;
}
.footer-information p>i{
    font-size:28px;
}
}
@media only screen and (min-width:400px) and (max-width:500px){
    .footer-menu{
    width:150px;
}
.footer-menu p{
  font-size:18px;
}
.footer-menu h2{
  font-size:20px;
}
.footer-information{
  width:80%;
}
}
@media only screen and (min-width:500px) and (max-width:600px){
    .footer-menu{
    width:200px;
   }
.footer-menu p{
  font-size:19px;
}
.footer-menu h2{
  font-size:24px;
}
.footer-information{
  width:60%;
}
}
@media only screen and (min-width:600px) and (max-width:700px){
    .footer-menu{
       width:250px;
    }
   .footer-menu p{
      font-size:20px;
    }
    .footer-menu h2{
       font-size:27px;
    }
    .footer-information{
  width:60%;
}
}
@media only screen and (min-width:700px) and (max-width:950px){
   .footer-image{
    width:50%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:290px;
}
.footer-information{
  width:350px;
}
.footer{
    width:100%;
    padding:20px 10px;}
}
@media only screen and (min-width:800px) and (max-width:900px){
    .footer-image{
    width:50%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:350px;
}
.footer-information{
  width:350px;
}
}