@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
  /* font-weight: bold; */
  font-style: normal;
}
/* overall div*/
.overall{
    width:100%;
    /* height:100vh; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* nav-bar */
nav{
    top:0px;
     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color:gray;
    /* position: fixed; */
     position:absolute;
     overflow: hidden;
    left:50%;
    color:white;
    transform: translateX(-50%);
    padding: 10px 30px;
    z-index: 999;
}
/* nav-hen-image */
.nav-hen-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-hen-image img{
    width:90px;
    height:90px;
}
/* nav-location */
.nav-location{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
}
.nav-location i{
    font-size: 28px;
}
.navaddress p:first-child{
   font-size: 23px;
   padding-bottom: 7px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}/* nav-content */
.nav-content{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    font-size: 19px;
    transition: all 1s;
}
/* nav-content */
.nav-content a{
    text-decoration: none;
    color:white;
    padding: 5px;
    position: relative;
    transition: all 0s 0.2s;
}
.nav-content a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all 1s;
}
.nav-content a:hover::before{
    background-image: linear-gradient(to right, rgb(63, 55, 2)20%, rgb(3, 61, 10) 100%);
}
.nav-content a:hover {
    color: rgb(224, 159, 39);
     font-size: 18px;
     /* font-weight: bold; */
}
/* nav-icons */
.nav-icons{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-icons{
    font-size:29px;
}
.nav.icons img{
    width:70px;
    height:70px;
}
nav i {
    font-size: 25px;
}
input:checked~.nav-content{
    left:0%;
    background-color: rgb(6, 113, 137);
}
input {
    display: none;
}
nav label {
    display: none;
}
/* nav-bar-media query */
@media only screen and (min-width:300px) and (max-width:700px){
   .nav-location{
      display:none;
   } 
   nav{
    width:100%;
   }
   nav label {
    display: block;
   }
    .nav-content {
        /* position: fixed; */
         position:absolute;
        background-color: wheat;
        left: 100%;
        top: 88px;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        justify-content: start;
        padding-top: 40px;
        transition: all 1s;
   }
   .nav-hen-image img{
    width:70px;
    height:70px;
    }
}
@media only screen and (min-width:300px) and (max-width:400px){
   nav{
    justify-content:space-between;
    padding:10px;
   }
   .nav-hen-image{
    font-size:8px;
    gap:10px;
   }
   .nav-hen-image img{
    width:50px;
    height:50px;
    }
    .nav-icons{
    font-size:17px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
}
@media only screen and (min-width:700px) and (max-width:800px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:8px;
    gap:10px;
   }
    .nav-icons{
    font-size:17px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 18px;
}
.navaddress p:first-child{
   font-size: 14px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 12px;
}
.nav-content{
    gap:6px;
    font-size: 13px;
}
.nav-icons{
    font-size:20px;
}
}
.amount{
    padding:20px;   
    width:44%;
    height:500px;
    /* background-color: pink; */
    text-align: center;
}
.box{
    padding:20px;
    width:60%;
    height:320px;
    background-color:lavender;
    margin:auto;
    border-radius: 5%;
    text-align: center;
    margin-top:60px;
    }
.top{

    width:100%;
    height: 60px;
    /* background-color: magenta; */
    display:flex;
    justify-content:space-evenly;
    padding:10px;
}
.middle{
    width:100%;
    height:200px;
    /* background-color: aqua; */
     border-bottom: 1px solid gray;
}
.md1{
    width:100%;
    height:100px;
    /* background-color: antiquewhite; */
}
img{
    width:150px;
    height:100px;
}
.bottom{
    width:100%;
    height:70px;
}

/* footer */
.footer{
    width:100%;
    min-height:75vh;
    background-color:#5d6d81 ;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* footer-content */
.footer-content{
    width:90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-image{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.footer-image img{
    width:150px;
    height:150px;
}
.footer-image h1{
    font-size:50px;
    color:white;
    text-align: center;
}
/* footer-menu */
.footer-menu {
   display: flex;
   gap:25px;
   flex-direction: column;
   width:150px;
    justify-content: center;
    align-items: center;
}
.footer-menu ul{
    list-style-type: none;
    color:white;
    font-size:19px;
}
.footer-menu li{
    padding-top:10px;
}
/* footer-information */
.footer-information{
    display: flex;
   gap:18px;
   justify-content: flex-start;
   flex-direction: column;
   width:350px;
    /* align-items: center; */
}
.footer-information p{
    color:white;
    font-size:23px;
    display:flex;
    justify-content: start;
    align-items: center;
    gap:10px;
}
.footer-follow{
   display: flex;
   gap:20px;
   flex-direction: column;
}
.footer-icon{
    display: flex;
   gap:20px;
   align-items: center;
   flex-direction:row;
}
.footer-icon i{
    color:white;
    font-size:32px;
}
/* footer-media query */
@media only screen and (min-width:300px) and (max-width:700px){
  .footer{
    width:100%;
    padding:20px 10px;
     min-height:80vh;
  }
  .footer-image{
    width:100%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:110px;
}
.footer-menu p{
  font-size:17px;
}
.footer-menu h2{
  font-size:18px;
}
.footer-information{
  width:80%;
}
}
@media only screen and (min-width:300px) and (max-width:400px){
 .footer-information p{
    font-size:17px;
}
.footer-information p>i{
    font-size:28px;
}
}
@media only screen and (min-width:400px) and (max-width:500px){
    .footer-menu{
    width:150px;
}
.footer-menu p{
  font-size:18px;
}
.footer-menu h2{
  font-size:20px;
}
.footer-information{
  width:80%;
}
}
@media only screen and (min-width:500px) and (max-width:600px){
    .footer-menu{
    width:200px;
   }
.footer-menu p{
  font-size:19px;
}
.footer-menu h2{
  font-size:24px;
}
.footer-information{
  width:60%;
}
}
@media only screen and (min-width:600px) and (max-width:700px){
    .footer-menu{
       width:250px;
    }
   .footer-menu p{
      font-size:20px;
    }
    .footer-menu h2{
       font-size:27px;
    }
    .footer-information{
  width:60%;
}
}
@media only screen and (min-width:700px) and (max-width:950px){
   .footer-image{
    width:50%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:290px;
}
.footer-information{
  width:350px;
}
.footer{
    width:100%;
    padding:20px 10px;}
}
@media only screen and (min-width:800px) and (max-width:900px){
    .footer-image{
    width:50%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:350px;
}
.footer-information{
  width:350px;
}
}