@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* overall div*/
.overall{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* nav-bar */
nav{
     width: 100%;
     min-height:vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: rgba(25, 16, 127, 0.874);
    /* position: fixed; */
     position:absolute;
     overflow: hidden;
    left:50%;
    top:0px;
    color:white;
    transform: translateX(-50%);
    padding: 10px 30px;
    z-index: 999;
}
/* nav-hen-image */
.nav-hen-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-hen-image img{
    width:90px;
    height:90px;
}
/* nav-location */
.nav-location{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
}
.nav-location i{
    font-size: 28px;
}
.navaddress p:first-child{
   font-size: 23px;
   padding-bottom: 7px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}
/* nav-content */
.nav-content{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    font-size: 19px;
    transition: all 1s;
}
/* nav-content */
.nav-content a{
    text-decoration: none;
    color:white;
    padding: 5px;
    position: relative;
    transition: all 0s 0.2s;
}
.nav-content a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all 1s;
}
.nav-content a:hover::before{
    background-image: linear-gradient(to right, rgb(63, 55, 2)20%, rgb(3, 61, 10) 100%);
}
.nav-content a:hover {
    color: rgb(224, 159, 39);
     font-size: 18px;
     /* font-weight: bold; */
}
/* nav-icons */
.nav-icons{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-icons{
    font-size:29px;
}
.nav-icons img{
    width:36px;
    height:36px;
    margin-top:10px;
}
img{
    width:100px;
    height:100px;
}
nav i {
    font-size: 25px;
}
input:checked~.nav-content{
    left:0%;
    background-color: rgb(6, 113, 137);
}
input {
    display: none;
}
nav label {
    display: none;
}
/* nav-bar-media query */
@media only screen and (min-width:300px) and (max-width:700px){
   .nav-location{
      display:none;
   } 
   nav{
    width:100%;
   }
   nav label {
    display: block;
   }
    .nav-content {
        /* position: fixed; */
         position:absolute;
        background-color: wheat;
        left: 100%;
        top: 88px;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        justify-content: start;
        padding-top: 40px;
        transition: all 1s;
   }
   .nav-hen-image img{
    width:70px;
    height:70px;
    }
}
@media only screen and (min-width:300px) and (max-width:400px){
   nav{
    justify-content:space-between;
    padding:10px;
   }
   .nav-hen-image{
    font-size:8px;
    gap:10px;
   }
   .nav-hen-image img{
    width:50px;
    height:50px;
    }
    .nav-icons{
    font-size:17px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
}
@media only screen and (min-width:700px) and (max-width:800px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:8px;
    gap:10px;
   }
    .nav-icons{
    font-size:17px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 18px;
}
.navaddress p:first-child{
   font-size: 14px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 12px;
}
.nav-content{
    gap:6px;
    font-size: 13px;
}
.nav-icons{
    font-size:20px;
}
}
@media only screen and (min-width:800px) and (max-width:1000px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:9px;
    gap:10px;
   }
    .nav-icons{
    font-size:18px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 19px;
}
.navaddress p:first-child{
   font-size: 16px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 14px;
}
.nav-content{
    gap:6px;
    font-size: 15px;
}
.nav-icons{
    font-size:22px;
}
}
@media only screen and (min-width:1000px) and (max-width:1100px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:11px;
    gap:10px;
   }
    .nav-icons{
    font-size:19px;
    gap:10px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 20px;
}
.navaddress p:first-child{
   font-size: 18px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}
.nav-content{
    gap:6px;
    font-size: 17px;
}
.nav-icons{
    font-size:22px;
}
}
@media only screen and (min-width:1100px) and (max-width:1260px){
    .nav-hen-image img{
    width:60px;
    height:60px;
    }
    nav{
    justify-content:space-between;
    padding:10px;
    gap:10px;
   }
   .nav-hen-image{
    font-size:12px;
    gap:15px;
   }
    .nav-icons{
    font-size:19px;
    gap:15px;
}
.nav-icons img{
    width:33px;
    height:33px;
}
.nav-location i{
    font-size: 20px;
}
.navaddress p:first-child{
   font-size: 18px;
   padding-bottom: 3px;
}
.navaddress p:nth-child(2){
   font-size: 16px;
}
.nav-content{
    gap:6px;
    font-size: 18px;
}
.nav-icons{
    font-size:22px;
}
}
/* meat-detail-price */
.meat-table{
    width:100%;
    min-height:130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.meat-content{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    margin-top:50px;
}
.meat-detail{
    width:100%;
    /* height:80px; */
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    font-weight:bold;
}
.meat-line{
    width:100%;
    height:12px;
    background-image: linear-gradient(to bottom, rgb(182, 179, 179) 10%, rgb(213, 210, 210) 10%);
    border-radius: 10px;
    /* background-color: blueviolet; */
}
.meat-content button{
   width:40%;
   padding:20px;
   font-size:28px;
   border:none;
   margin-top:20px;
   background-color: rgb(175, 168, 45);
   color:white;
   border-radius:10px;
   font-weight: bold;
   transition:all 2s;
   /* box-shadow:red; */
}
.meat-content button:hover{
    background-color: green;
    font-size: x-large;
}
.meat-price{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap:10px;
    font-size: 30px;
}
.meat-price button{
    border:none;
    width:150px;
    background-color: white;
    font-size: 27px;
    margin-left:-80px;
    color:black;
}
.meat-price button>i{
    color:blue;
}
.meat-price p{
    width:100px;
}
.meat-price1 p+p{
    width:130px;
}
.meat-price1{
     width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap:10px;
    font-size: 30px;
}
.meat-price p{
    margin-left:-50px;
}
.meat-text{
    margin-left: 480px;
}
.meat-price button+p{
    margin-left:-50px;
}
.meat-one{
    font-size: 28px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:10px 26px;
    margin-left:80px;
}
/* meat-price media query */
@media only screen and (min-width:300px) and (max-width:600px){
    .meat-content{
    width:98%;
    }
    .meat-detail{
    font-size: 15px;
}
.meat-content button{
    font-size:17px;
    padding:10px;
}
.meat-line{
    width:90%;
}
.meat-price button{
    width:80px;
    padding:0px;
    font-size: 16px;
    margin-top:-3px;
}
.meat-price{
    font-size: 17px;
    width:90%;
}
.meat-price img{
    width:70px;   
}
.meat-price p{
    width:70px;
    margin-left:-40px;
}
.meat-price1 p+p{
    width:100px;
}
.meat-price button+p{
    padding-left: 20px;
}
.meat-price1 p+p{
    width:70px;
}
.meat-price1{
    font-size: 18px;  
    padding-right:10px;
}
.meat-one{
    font-size: 18px;
    margin-left:0px;
    padding:10px 10px;
}
.meat-text{
    margin-left: 30%;
}
.meat-table{
    min-height:100vh;
}
}
@media only screen and (min-width:400px) and (max-width:500px){
   .meat-content{
    width:99%;
    }
    .meat-detail{
    font-size: 18px;
}
.meat-content button{
    font-size:20px;
}
.meat-line{
    width:95%;
}
.meat-price button{
    width:90px;
    padding-left:23px;
    font-size: 17px;
}
.meat-price{
    font-size: 19px;
    width:90%;
}
.meat-price img{
    width:80px;   
}
.meat-price p{
    width:70px;
    margin-left:-40px;
}
.meat-price1 p+p{
    width:77px;
    padding:10px 10px;    
    margin-left: -10px;
}
.meat-price button+p{
    padding-left: 20px;
}
.meat-price1{
    font-size: 18px;
    padding-right:10px;
}
.meat-one{
    padding:10px 10px;
}
.meat-text{
    margin-left: 32%;
    font-size:19px;
}
.meat-table{
    min-height:100vh;
}
}
@media only screen and (min-width:500px) and (max-width:600px){
   .meat-content{
    width:99%;
    }
    .meat-detail{
    font-size: 20px;
}
.meat-content button{
    font-size:23px;
}
.meat-line{
    width:95%;
}
.meat-price button{
    width:100px;
    padding-left:23px;
    font-size: 20px;
}
.meat-price{
    font-size: 20px;
    width:90%;
}
.meat-price img{
    width:90px;   
}
.meat-price p{
    width:70px;
    margin-left:-40px;
}
.meat-price1 p+p{
    width:77px;
    padding:10px 10px;    
    margin-left: -10px;
}
.meat-price button+p{
    padding-left: 20px;
}
.meat-price1{
    font-size: 20px;
    padding-right:10px;
}
.meat-one{
    padding:10px 10px;
}
.meat-text{
    margin-left: 32%;
    font-size:20px;
}
.meat-table{
    min-height:100vh;
}
}
@media only screen and (min-width:600px) and (max-width:700px){
   .meat-content{
    width:95%;
    }
    .meat-detail{
    font-size: 25px;
}
.meat-content button{
    font-size:23px;
}
.meat-line{
    width:95%;
}
.meat-price button{
    width:130px;
    padding-left:33px;
    font-size: 18px;
    margin-top: -3px;
}
.meat-price{
    font-size: 23px;
    width:90%;
}
.meat-price img{
    width:90px;   
}
.meat-price p{
    width:70px;
    margin-left:-40px;
}
.meat-price1 p+p{
    width:77px;
    padding:10px 10px;    
    margin-left: -10px;
    font-size: 22px;
}
.meat-price button+p{
    padding-left: 20px;
}
.meat-price1{
    font-size: 20px;
    padding-right:10px;
}
.meat-one{
    padding:10px 10px;
}
.meat-text{
    margin-left: 32%;
    font-size:20px;
}
}
@media only screen and (min-width:700px) and (max-width:800px){
   .meat-content{
    width:95%;
    }
    .meat-detail{
    font-size: 27px;
}
.meat-content button{
    font-size:27px;
}
.meat-line{
    width:95%;
}
.meat-price button{
    width:130px;
    padding-left:33px;
    font-size: 20px;
    margin-top: -3px;
}
.meat-price{
    font-size: 24px;
    width:90%;
}
.meat-price img{
    width:100px;   
}
.meat-price p{
    width:70px;
    margin-left:-40px;
}
.meat-price1 p+p{
    width:87px;
    padding:10px 10px;    
    margin-left: -10px;
    font-size: 24px;
}
.meat-price button+p{
    padding-left: 20px;
}
.meat-price1{
    font-size: 27px;
    padding-right:10px;
}
.meat-one{
    padding:10px 10px;
}
.meat-text{
    margin-left: 32%;
    font-size:20px;
}
}
@media only screen and (min-width:800px) and (max-width:970px){
    .meat-text{
    margin-left: 0%;
}
.meat-content{
    width:94%;
    }
.meat-line{
    width:94%;
}
.meat-price img{
    width:140px;   
}
}
/* footer */
.footer{
    width:100%;
    min-height:75vh;
    background-color:#5d6d81 ;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* footer-content */
.footer-content{
    width:90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-image{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.footer-image img{
    width:150px;
    height:150px;
}
.footer-image h1{
    font-size:50px;
    color:white;
    text-align: center;
}
/* footer-menu */
.footer-menu {
   display: flex;
   gap:25px;
   flex-direction: column;
   width:150px;
    justify-content: center;
    align-items: center;
}
.footer-menu ul{
    list-style-type: none;
    color:white;
    font-size:19px;
}
.footer-menu li{
    padding-top:10px;
}
/* footer-information */
.footer-information{
    display: flex;
   gap:18px;
   justify-content: flex-start;
   flex-direction: column;
   width:350px;
    /* align-items: center; */
}
.footer-information p{
    color:white;
    font-size:23px;
    display:flex;
    justify-content: start;
    align-items: center;
    gap:10px;
}
.footer-follow{
   display: flex;
   gap:20px;
   flex-direction: column;
}
.footer-icon{
    display: flex;
   gap:20px;
   align-items: center;
   flex-direction:row;
}
.footer-icon i{
    color:white;
    font-size:32px;
}
/* footer-media query */
@media only screen and (min-width:300px) and (max-width:700px){
  .footer{
    width:100%;
    padding:20px 10px;
     min-height:80vh;
  }
  .footer-image{
    width:100%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:110px;
}
.footer-menu p{
  font-size:17px;
}
.footer-menu h2{
  font-size:18px;
}
.footer-information{
  width:100%;
}
}
@media only screen and (min-width:300px) and (max-width:400px){
 .footer-information p{
    font-size:17px;
}
.footer-information p>i{
    font-size:28px;
}
}
@media only screen and (min-width:400px) and (max-width:500px){
    .footer-menu{
    width:150px;
}
.footer-menu p{
  font-size:18px;
}
.footer-menu h2{
  font-size:20px;
}
}
@media only screen and (min-width:500px) and (max-width:600px){
    .footer-menu{
    width:200px;
   }
.footer-menu p{
  font-size:19px;
}
.footer-menu h2{
  font-size:24px;
}
}
@media only screen and (min-width:600px) and (max-width:700px){
    .footer-menu{
       width:250px;
    }
   .footer-menu p{
      font-size:20px;
    }
    .footer-menu h2{
       font-size:27px;
    }
}
@media only screen and (min-width:700px) and (max-width:950px){
   .footer-image{
    width:50%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:290px;
}
.footer-information{
  width:350px;
}
.footer{
    width:100%;
    padding:20px 10px;}
}
@media only screen and (min-width:800px) and (max-width:900px){
    .footer-image{
    width:50%;
  }
  .footer-content{
    width:100%;
    justify-content:center;
    gap:30px;
}
.footer-menu{
    width:350px;
}
.footer-information{
  width:350px;
}
}